# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
env/
venv/

# Streamlit cache and logs
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/*.json
.streamlit/cache/
.streamlit/logs/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Output / artifacts
*.log
*.tmp
